*:focus {
    outline: none;
}

.code_guard_error span{
    text-decoration: #fbb360 underline  wavy;
}

.code_guard_error:hover::before{
    content: "⬇ Code Guard Warning - Potential use of hardcoded secrets!";
    background: #fbb360;
    border-radius: 2px;
    display: inline-block;
    position: absolute;
    margin: -18px 0 0 0;
    color: #1c2127;
    font-size: 12px;
    padding: 0 5px;
    height: 18px;
    text-align: center;
    z-index: 1000;
}